vmw_network_peering = {
  "ven1" = {
    name                                = "ven-vpc-peer"
    description                         = "vpc-gcve peer"
    project                             = "pr-hvpc-1056d88565a4"
    peer_network                        = "projects/pr-hvpc-1056d88565a4/global/networks/cpsw-vpc"
    peer_network_type                   = "STANDARD"
    vmware_engine_network               = "projects/pr-hvpc-1056d88565a4/locations/global/vmwareEngineNetworks/default"
    export_custom_routes                = true
    import_custom_routes                = true
    export_custom_routes_with_public_ip = false
    import_custom_routes_with_public_ip = false
  }
}