vmw_network_peering = {
    "ven1" = {
        name                                = ""
        description                         = ""
        peer_network                        = ""
        peer_network_type                   = ""
        vmware_engine_network               = ""
        export_custom_routes                = false
        import_custom_routes                = false
        export_custom_routes_with_public_ip = false
        import_custom_routes_with_public_ip = false
    }
}